<!-- Nik Code -->
<!DOCTYPE html>
<html lang="en">

<head>
	<title>BluePrintIO</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="description"
		content="Blockland is a multi-player game. Using the Three.js library. author:Nik Lever ©2018 category:application-javascript" />
	<meta property="og:url" content="http://niksgames.com/blockland" />
	<meta property="og:type" content="product" />
	<meta property="og:title" content="Blockland - a multi-player game" />
	<meta property="og:description"
		content="Blockland is a multi-player game. Using the Three.js library. author:Nik Lever ©2018 category:application-javascript" />
	<meta property="og:image" content="http://niksgames.com/blockland/assets/blockland-og.jpg" />
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="1265" />
	<meta property="og:image:height" content="817" />
	<meta property="og:image:alt" content="Blueprint" />
	<meta property='og:video' content='https://www.youtube.com/v/1r9V_JEEMlA' />
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Kavivanar" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
	<style media="screen">
		*{
		  margin: 0;
		}
		#videoDiv{
		  display: grid;
		  grid-gap: 2px;
		  height:100%;
		  grid-template-columns: repeat(auto-fill, 300px);
		  grid-auto-columns: 100px;
		}
		#footer{
		  width: 100%;
		  height: 50px;
		  background-color: white;
		  display: flex;
		  justify-content:space-around;
		  flex:1;
		  border-bottom: 1px solid grey;
		  margin-top: 2px;
		}
		button{
		  height: 30px;
		  width: 80px;
		  margin-top: 10px;
		  text-align: center;
		  border-radius: 10px;
		  outline: none;
		  border:none;
		  text-decoration: none;
		  background-color:red;
		  cursor: pointer;
		}
		video {
		  width: 50%;
		  height: 50%;
		  object-fit:cover;
		  border:2px solid white;
		}
	  </style>
	
	<style>
		body {
			font-family: Monospace;
			background-color: transparent;

			
		}

		#message {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			font-family: 'Kavivanar', san-serif;
			font-size: 40px;
			width: 80%;
			max-width: 280px;
			padding: 15px 15px 50px 15px;
			text-align: center;
			display: none;
			align-content: center;
			justify-content: center;
			background-color: aliceblue;
			border: medium solid #3D455C;
			border-radius: 20px;
			color: #3D455C;
			z-index: 99;
		}

		#message_ok {
			position: absolute;
			bottom: 10px;
			padding: 10px 20px 10px 20px;
			font-family: sans-serif;
			font-size: 20px;
			background-color: #3D455C;
			color: #fff;
			border-radius: 8px;
			border: medium solid #696882;
		}

		#chat {
			position: absolute;
			width: 100%;
			height: 40px;
			bottom: -40px;
			transition: all 0.5s;
		}

		form {
			background: #000;
			padding: 3px;
			width: 100%;
		}

		form input {
			border: 0;
			padding: 10px;
			width: 88%;
			margin-right: .5%;
		}

		form button {
			width: 8%;
			background: rgb(130, 224, 255);
			border: none;
			padding: 10px;
		}
	</style>
</head>

<body>

	<div style="position: absolute;" id="videoDiv"> </div>

    <div style="position: absolute ; bottom: 10px;" id="container">

	<a id="camera-btn"
	><div>
	  <i class="fas fa-camera"></i></div
  ></a>

  <a id="camera-scroll"
	><div>
	  <i class="fas fa-arrow-alt-circle-down"></i></div
  ></a>

  <button id="btn" onclick="playSound()">Play</button>
</div>


	<div id="message">
		<p style="color: #000;" id="message_text"></p>
		<button id="message_ok">OK</button>
	</div>
	<div id="chat">
		<form id="msg-form" action="">
			<input id="m" autocomplete="off" /><button>Send</button>
		</form>
	</div>
	<!-- <div style="width: 100%;height: 300px; display: flex;flex-direction: row-reverse; position: absolute;"><div id="textm" style="background-color: antiquewhite;opacity: 0.6; width: 300px; height: 300px;"></div></div> -->
	<!-- Nik Code -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/92/three.min.js"></script>
	<!-- <script type="module" src="three.module.js"></script> -->
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
	<script src="inflate.min.js"></script>
	<script src="FBXLoader.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/stl-loader@1.0.0/STLLoader.js" integrity="sha256-lfekbQQ+jA4THuKRbRdHnpF/cj/A1bnQaqVpKxKsw3s=" crossorigin="anonymous"></script>	<script src="Detector.js"></script>
	<script src="toon3d.js"></script>


	<script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/3.0.2/topojson.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-geo/1.9.1/d3-geo.min.js"></script>
    <script src="https://threejs.org/examples/js/effects/StereoEffect.js"></script>
    <script src="https://threejs.org/examples/js/shaders/CopyShader.js"></script>
    <script src="https://threejs.org/examples/js/shaders/FXAAShader.js"></script>
    <script src="https://threejs.org/examples/js/shaders/ConvolutionShader.js"></script>
    <script src="https://threejs.org/examples/js/shaders/LuminosityHighPassShader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.4.0/simplex-noise.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.1.0/anime.min.js"></script>
    <script src="https://kit.fontawesome.com/86f3d02ba1.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2666677/CurveExtras.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2666677/MyShaderChunks.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.4.0/simplex-noise.min.js"></script>
	
    <script src="libs/OrbitControls.js"></script>
    <!-- <script src="libs/Detector.js"></script> -->
    <!-- <script src="libs/dat.gui.min.js"></script>
	  <script src="libs/stats.min.js"></script> -->

    <script src="libs/AssimpJSONLoader.js"></script>
    <script src="libs/tween.min.js"></script>
	


	<!-- <script src="game.js"></script> -->
	<script src="page.js"></script>
	<script src="hexplanet.js"></script>
	<script src="blueprintTESTE.js"></script>

	
	<!-- <script src="/explanet/src/explanet.js"></script> -->

	<script type="text/javascript">
		var roomID = "<%= RoomId %>"
	  </script>
	  <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
	  <script src="socket.io/socket.io.js" defer></script>

	<!-- <script>
		var game;
		document.addEventListener("DOMContentLoaded", function () {
			game = new Game();
		});
	</script> -->

	<script>
		var game;
		document.addEventListener("DOMContentLoaded", function () {
			game = new Game();
		});
	</script>
	<!-- Nik Code -->



</body>

</html>